<mat-card class="card mat-elevation-z8">
  <mat-card-header>

    <mat-card-title>Cuscuz Diário</mat-card-title>
    <mat-card-subtitle>A palavra de Deus no seu café da manhã</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/img/Coffee.svg" alt="Image Home Help Desk">
  <mat-card-content>

      <h3>
      Marcos 16:15<br>
      E disse-lhes: Ide por todo omundo, pregai o evangelho a toda criatura
      </h3>
      <h3>
      Mateus 24:14<br>
      E este evangelho do reino será pregado em todo o mundo, em testemunho a todas as nações, e então virá o fim.
    </h3>

  </mat-card-content>

</mat-card>
