.container {
  height: 100%;
}

.sidenav {
  width: 13rem;
  color: white;
  background: rgb(53,98,64);
background: linear-gradient(101deg, rgba(53,98,64,1) 22%, rgba(116,231,70,0.728695652173913) 100%, rgba(159,251,121,0.728695652173913) 100%);
}
img{
  width: 80%;
  height: 7rem;
  margin: .8rem auto 1rem auto;
}

.sidenav a {
  color: white;
}
.sidenav i{
  margin-right: .6rem;
}

.menu{
  margin: 1rem 0 0 1rem;
  background: rgb(53,98,64);
background: linear-gradient(101deg, rgba(53,98,64,1) 22%, rgba(116,231,70,0.728695652173913) 100%, rgba(159,251,121,0.728695652173913) 100%);
}
