.container {
  height: 100%;
}

.sidenav {
  width: 13rem;
  color: white;
  background: rgb(43,43,40);
  background: linear-gradient(101deg, rgba(43,43,40,1) 58%, rgba(76,77,70,0.728695652173913) 100%);
}
img{
  width: 80%;
  height: 7rem;
  margin: .8rem auto 1rem auto;
}

.sidenav a {
  color: white;
}
.sidenav i{
  margin-right: .6rem;
}

.menu{
  margin: 1rem 0 0 1rem;
  background: rgb(220,222,62);
background: linear-gradient(101deg, rgba(220,222,62,1) 88%, rgba(232,245,35,0.728695652173913) 95%);
}
